@model Usuario
@{
    ViewData["Title"] = "Inicio";
}
<div class="container items-center justify-center ">
    <div
        class="mx-auto min-w-max justify-center h-2/6 mt-15 w-2/5 items-center text-justify bg-gradient-to-r from-indigo-700 to-indigo-300 p-5 rounded-md">
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                    alt="Your Company">
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Ingresa tu cuenta</h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" method="POST">
                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo</label>
                        <div class="mt-2">
                            <input id="email" name="correo" type="email" autocomplete="email" required asp-for="Correo"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password"
                                class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                            <div class="text-sm">
                                <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">¿Olvido la contraseña?</a>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input id="password" name="Contraseña" type="password" autocomplete="current-password"
                                required asp-for="Contraseña"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div class="flex items-center">
                        <input checked id="checked-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checked-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" asp-for="SesionActiva">Recordar Sesión</label>
                    </div>

                    <div>
                        <button type="submit"
                             class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" >Ingresar</button>
                        <label class="alert-danger">@ViewBag.Error</label>
                    </div>
                </form>

                <p class="mt-10 text-center text-sm text-black">
                    ¿No tienes cuenta?
                    <a class="font-semibold leading-6 text-white hover:text-black" asp-area="" asp-controller="Home" asp-action="Registro" >Crear una</a>
                </p>
            </div>
        </div>
    </div>
</div>