@{
    ViewData["Title"] = "Home Page";
}
<div class="flex float-left">
    <div
        class="h-2/6 m-5 mt-15 w-2/5 items-center text-justify md:w32 bg-gradient-to-r from-indigo-700 to-indigo-300 p-5 rounded-md">
        <h1 class="text-center"><i><b>¿Que Hacemos?</b></i></h1>
        <p class="m-6">Nuestra herramienta está diseñada para simplificar la gestión de personal y optimizar tus procesos de
            recursos humanos. Con nuestra plataforma, puedes llevar un registro eficiente de los datos de tus empleados,
            administrar nóminas, gestionar vacaciones y permisos, así como analizar datos clave para tomar decisiones
            informadas. Simplifica tu trabajo diario y aumenta la eficiencia de tu departamento de recursos humanos con
            nuestro software intuitivo y fácil de usar. ¡Descubre una nueva forma de gestionar a tu talento humano!"</p>
            <a class=" m-4 items-center text-gray-800 bg-indigo-100 hover:bg-indigo-200 inline-flex items-center justify-center px-3 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm "
                asp-area="" asp-controller="Home" asp-action="Index">Inicia con nosotros 
            </a>
    </div>
    <div
        class="flex h-2/6 float-left m-5 mt-15 w-2/5 items-center text-justify md:w32 bg-gradient-to-r from-indigo-700 to-indigo-300 p-5 rounded-md">
        <img class="w-full rounded-md" src="https://www.esan.edu.pe/images/blog/2020/06/02/1500x844-imagen3.jpg">
    </div>

</div>

